<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1.0, user-scalable=no">

        <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="apple-touch-startup-image" href="/img/splash-screen.png" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/img/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- scripts and styles -->
        <link rel="stylesheet" media="screen" href="/css/screen.css">
        <link media="only screen and (max-device-width: 800px) and (min-device-width: 370px)" href="/css/mobile.css" type="text/css" rel="stylesheet" />
        <link media="only screen and (max-device-width: 1030px) and (min-device-width: 800px)" href="/css/tablet.css" type="text/css" rel="stylesheet" />
        <link media="only screen and (max-device-width: 370px) and (min-device-width: 300px)" href="/css/handheld.css" type="text/css" rel="stylesheet" />
        <link media="only screen and (max-device-width: 300px)" href="/css/fallback.css" type="text/css" rel="stylesheet" />
        <link href='//fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <title>ÖzlüSözler.io - Motivasyon lazım olduğunda...</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="container">
                <p class="quote">{{quote.quote}}</p>
                <p class="author">{{quote.author.author_name}}</p>
            </div>
        </div>

        <div class="toolbar">
            <a href="/dislike" class="button dislike">SEVMEDİM</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/like" class="button like">&nbsp;&nbsp;&nbsp;SEVDİM&nbsp;&nbsp;&nbsp;</a>
        </div>


        <div class="navbar">
            <div class="logo"><a href="/">ÖzlüSözler.io</a></div>
            <div class="slogan">MOTIVASYON LAZIM OLDUGUNDA</div>
        </div>

        <div class="share">
            <div class="addthis_sharing_toolbox"></div>
        </div>

        <div class="fallback" style="display:none;">
            Bu site için daha büyük bir ekran boyutuna ihtiyacınız var.
        </div>

        <!-- 5 saniyeden az surede yeni soz'e tiklarsa skip olur -->
        <!-- Implement share quote -->

        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54f20382620acacd" async="async"></script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                                    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-58768718-1', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
